@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Preece Technology by:<i>Kimberly Preece</i></h1>
    <p>Product Management Application using ASP.NET MVC.</p>
</div>
